---
import MainLayout  from "../layout/MainLayout.astro";
const title = "About"
---

<MainLayout title={title}>
    <h2>Bienvenido a la página Acerca de</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quisquam sequi doloremque laboriosam! Minus incidunt necessitatibus, ratione, iste corrupti nobis voluptatem in quo odio voluptates nam facere alias explicabo nemo enim quia error accusamus. Iusto quia rerum, quo quaerat odit vel, consequuntur consequatur sunt labore in provident doloribus at fugit!</p>
</MainLayout>
