---
import SegundoLayout from "../layout/SegundoLayout.astro"
const subtitle = "P치gina Secundaria"
---

<SegundoLayout subtitle={subtitle}>
	<h3>Segunda P치gina</h3>
	<p>Esta es una segunda p치gina que hereda la estructura de la p치gina principal</p>
</SegundoLayout>
