---
import SegundoLayout from "../layout/SegundoLayout.astro"
const subtitle = "Blog: Página Secundaria"
---

<SegundoLayout subtitle={subtitle}>	
	<p>Esta es una segunda página que hereda la estructura de la página principal</p>
</SegundoLayout>
